@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

:root {
  --bg-color: #0b0c10;
  --panel-bg: #151619;
  --text-primary: #f8f9fa;
  --text-secondary: #8E9299;
  --accent-color: #2F6BFF;
  --border-color: #2a2b30;
  --danger-color: #FF4444;
  --success-color: #00C853;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Esconder a barra de rolagem (Mantendo a rolagem ativa) */
/* Para navegadores baseados em Chromium (Chrome, Edge, Opera, Safari) */
.body::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
.body {
  scrollbar-width: none; 
}

/* Para Internet Explorer e Edge antigo */
.body] {
  -ms-overflow-style: none; 
}